version: '3.8'
services:
  app:
    build:
      context: ./api
      dockerfile: Dockerfile.api
    ports:
      - "8080:8080"
    environment:
      - DB_ADDRESS=postgres://postgres:password@db:5432/review_assigner?sslmode=disable
      - LOG_LEVEL=DEBUG
      - API_ADDRESS=0.0.0.0:8080
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=review_assigner
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: